body
{
font-family: Arial, Helvetica, sans-serif;
}

{

}
#hed
{
background-color: lightblue;


}
h1
{ top: 100px;
  text-align: center;
}
h2
{  border: 1px solid black;
   padding: 1px;
   width: 30%;
   text-align: center;
   position: absolute;
   right: 15px;
   top: 1px;


  font-size: 16px;
}
.container
{
	width: 100%;
}
#par1 p,#par2 p,#par3 p 
{ 
 

  text-align: center;
  

}
button {
    visibility: hidden;
  }
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 button {
    visibility: visible;
  }
  }
